<a href="https://colab.research.google.com/github/robitussin/CCDATSCL_EXERCISES/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [57]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [58]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [59]:
df.columns.tolist()

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Display the dataframe shape:

In [60]:
df.shape

(48895, 16)

Identify the numerical features:

In [61]:
df.select_dtypes(include=["number"]).columns.tolist()

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Identify the categorical features

In [62]:
df.select_dtypes(include=["object", "category"]).columns.tolist()

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

What are the top 5 questions this dataset might help answer?

1. what is the average price difference between neighbourhood groups (e.g., manhattan vs. brooklyn)?
2. which neighbourhood has the highest number of listings?
3. how does the room type (private vs. entire home) affect the price?
4. is there a relationship between the number of reviews and the price of a listing?
5. which hosts have the most listings and where are they located?

## B. Structuring

Check if the dataset has proper column types

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [64]:
if df.index.is_unique:
    print("index check: passed (all unique)")
else:
    print("index check: failed (duplicates found)")

index check: passed (all unique)

Check if the dataset has duplicated rows

In [65]:
duplicates = df.duplicated().sum()
print(f"total duplicated rows: {duplicates}")

total duplicated rows: 0

Convert columns to correct types (e.g., dates → datetime).

In [66]:
# convert 'last_review' to datetime
df["last_review"] = pd.to_datetime(df["last_review"])

# verify the change
print(f"last_review type is now: {df['last_review'].dtype}")

last_review type is now: datetime64[ns]

Identify at least one structural issue and describe how to fix it.

**structural issue:**
missing values consistency. specifically, when `number_of_reviews` is 0, the `reviews_per_month` column contains `NaN` (null) values. logically, if there are 0 reviews, the reviews per month should be 0, not null.

**how to fix it:**
fill the `NaN` values in `reviews_per_month` with 0

In [67]:
# check missing values before
print(f"missing before: {df['reviews_per_month'].isna().sum()}")

# fix: fill nan with 0 (since 0 reviews logically means 0 rate)
df["reviews_per_month"] = df["reviews_per_month"].fillna(0)

# check missing values after to confirm fix
print(f"missing after: {df['reviews_per_month'].isna().sum()}")

missing before: 10052
missing after: 0

## C. Cleaning

Check for missing values

In [68]:
missing = df.isna().sum()
print(missing[missing > 0])

name              16
host_name         21
last_review    10052
dtype: int64

Check for outliers in `minimum_nights`

In [69]:
print(df["minimum_nights"].describe())
print(f"\ntop 5 extreme values: {df['minimum_nights'].nlargest(5).tolist()}")

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

top 5 extreme values: [1250, 1000, 999, 999, 999]

Check for invalid values (e.g., price ≤ 0)

In [70]:
invalid_prices = (df["price"] <= 0).sum()
print(f"listings with invalid price (<= 0): {invalid_prices}")

listings with invalid price (<= 0): 11

Apply a missing-value strategy (drop, fill, or flag)

In [71]:
before_len = len(df)
df.dropna(subset=["name", "host_name"], inplace=True)
print(f"rows dropped: {before_len - len(df)}")

rows dropped: 37

Apply an outlier-handling strategy

In [72]:
df = df[df["minimum_nights"] <= 365]
print(f"max minimum_nights is now: {df['minimum_nights'].max()}")

max minimum_nights is now: 365

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [73]:
# 1. price per minimum night
df["price_per_min_night"] = df["price"] / df["minimum_nights"]

# 2. review activity (proxy for "ratings + frequency")
df["review_activity_score"] = df["reviews_per_month"] * df["number_of_reviews"]

# 3. is_expensive (true if price is above average, e.g., > 150)
df["is_expensive"] = df["price"] > 150

# check the new columns
print(df[["price_per_min_night", "review_activity_score", "is_expensive"]].head().to_string())

   price_per_min_night  review_activity_score  is_expensive
0                149.0                   1.89         False
1                225.0                  17.10          True
2                 50.0                   0.00         False
3                 89.0                1252.80         False
4                  8.0                   0.90         False

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [74]:
summary_table = df.groupby("neighbourhood_group").agg(
    avg_price=("price", "mean"),
    total_listings=("id", "count")
)

print(summary_table)

                      avg_price  total_listings
neighbourhood_group
Bronx                 87.469238            1089
Brooklyn             124.423841           20083
Manhattan            196.909973           21638
Queens                99.512363            5662
Staten Island        114.812332             373

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [75]:
# define validation rules
rule_1_price = (df["price"] <= 0).sum()
rule_2_host = (df["host_id"].isnull()).sum()
rule_3_nights = (df["minimum_nights"] < 1).sum()

# generate report
print("--- validation report ---")
print(f"rows with invalid price (<= 0): {rule_1_price}")
print(f"rows with missing host_id: {rule_2_host}")
print(f"rows with invalid minimum_nights (< 1): {rule_3_nights}")

# decision logic
total_errors = rule_1_price + rule_2_host + rule_3_nights
if total_errors > 0:
    print("\ndecision: invalid rows found. recommendation is to remove them.")
else:
    print("\ndecision: data is clean. no rows need removal.")

--- validation report ---
rows with invalid price (<= 0): 11
rows with missing host_id: 0
rows with invalid minimum_nights (< 1): 0

decision: invalid rows found. recommendation is to remove them.

## F. Publishing

Select final columns for publication.

In [76]:
# select only the relevant columns for the final file
final_cols = [
    "id", "name", "host_id", "neighbourhood_group", "neighbourhood",
    "room_type", "price", "minimum_nights", "number_of_reviews",
    "last_review", "reviews_per_month", "availability_365",
    "price_per_min_night", "review_activity_score", "is_expensive"
]

# create the final dataframe
df_final = df[final_cols]
print(f"final columns selected: {len(df_final.columns)}")

final columns selected: 15

Export cleaned dataset as "cleaned_airbnb.csv"

In [77]:
df_final.to_csv("cleaned_airbnb.csv", index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [78]:
# 1. export the neighborhood aggregation table
summary_table.to_csv("summary_neighborhoods.csv")
print("success: aggregation report exported as 'summary_neighborhoods.csv'")

# 2. create and export a simple validation report
validation_data = {
    "rule": ["price > 0", "host_id not null", "min_nights >= 1"],
    "violations": [
        (df["price"] <= 0).sum(),
        df["host_id"].isnull().sum(),
        (df["minimum_nights"] < 1).sum()
    ]
}
pd.DataFrame(validation_data).to_csv("summary_validation.csv", index=False)
print("success: validation report exported as 'summary_validation.csv'")

success: aggregation report exported as 'summary_neighborhoods.csv'
success: validation report exported as 'summary_validation.csv'